
.about {
   
    padding: 20px;
    color: black; /* Text color for readability */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font style */
}

.profile-section, .skills-section, .work-experience-section, .volunteer-section, .certificates-section {
    background-color:#a3b4c8;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow for a floating effect */
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease; /* Transition for hover effects */
}

    .profile-section:hover, .skills-section:hover, .work-experience-section:hover, .volunteer-section:hover, .certificates-section:hover {
        transform: translateY(-10px); /* Hover effect to lift the section */
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3); /* Shadow intensifies on hover */
    }

.profile-section {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Add gap between image and text */
}

.profile-picture {
    border-radius: 50%;
    width: 200px; /* Adjust size as needed */
    height: auto;
    flex-shrink: 0; /* Prevent image from shrinking */
}

.description {
    flex-grow: 1; /* Allow description to fill the remaining space */
    color: #333333;
    line-height: 1.6;
    font-size:20px;
    font-weight:bold;
}

/* Button styling */
button {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

    button:hover {
        background-color: #0056b3; /* Darker on hover */
    }

/* Typography improvements */
.section h2, .section h3, .section p, .section ul, .section ul li {
    color: #333; /* Dark color for text */
    font-size: 1rem; /* Suitable font size for text */
    line-height: 1.5; /* Improved line spacing for readability */
}

/* Certificate section styling */
.certificates-section {
    display: flex; /* Set up flex container */
    justify-content: space-around; /* Space out children evenly */
    flex-wrap: wrap; /* Wrap onto next line if space is insufficient */
}

.certificate {
    flex-basis: calc(50% - 40px); /* Take up half the container width, minus margins */
    margin: 20px;
    text-align: center; /* Center the text below the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    border-radius: 10px; /* Rounded corners for the bubble effect */
    padding: 10px;
}

    .certificate img {
        width: 100%; /* Make image responsive within its container */
        max-width: 200px; /* Maximum width for the image */
        height: auto;
        margin-bottom: 10px;
    }
