/* src/components/skillbar/skillbar.css */
.skill-bar-container {
    margin-bottom: 20px;
}

.skill-bar {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.skill-bar-inner {
    height: 30px;
    line-height: 30px;
    width: 0; /* Start with 0 width, will be animated to the percentage width */
    background-color: #004d40;
    transition: width 2s ease-in-out; /* Animation for the skill bar fill */
}

    .skill-bar-inner span {
        margin-left: 10px;
        color: white;
        font-weight: bold;
    }

.skill-description {
    margin-top: 5px;
    font-style: italic;
    color: black;
}
.slick-prev:before,
.slick-next:before {
    color: #ff7eb3; /* Change the arrow color to white */
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
/* Adjusted opacity based on skill percentage */
.skill-bar-inner[data-percentage="low"] {
    opacity: 1; /* More opaque for lower skills */
}

.skill-bar-inner[data-percentage="medium"] {
    opacity: 0.7; /* Medium opacity */
}

.skill-bar-inner[data-percentage="high"] {
    opacity: 0.4; /* Less opaque for higher skills */
}

.skill-bar-text {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Color of the text inside the bar */
    z-index: 1; /* Make sure the text is above the filled portion */
}
